:root{
    font-family: 'Courier New', Courier, monospace;
    --color-leter: rgb(24, 24, 23);
    --color-back: rgb(255, 143, 30); 
    --color-back2:rgb(255, 65, 230);
}

*{
    padding: 0;
    margin: 0;
}

#count{
    text-shadow: 0 0 2px #fff1;
    font-size: 200px;
    font-weight: bolder;
    color: var(--color-leter);
    text-align: center;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: var(--color-back);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main > div{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn{
    display: block;
    width: 200px;
    padding: 20px;
    background-color:var(--color-back2);
    border: 1px solid var(--color-back2);
    border-radius: 10px;
    font-size: 30px;
    font-weight: bolder;
    color:var(--color-leter);
}
